body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./home.webp");
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    color: white;
    width: 800px;
}

.Home h1 {
    font-family: Mulish, sans-serif;
    font-size: 4em;
    font-weight: 900;
}

.Home p {
    font-size: 1.25em;
    font-weight: 600;
}
.home-buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}