* {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.Back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./home.webp");
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.index {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  gap: 40px;
  height: 100vh;
}



.index h1 {
    font-size: 4em;
    font-weight: 700;
}

.index p {
    font-size: 1.25em;
    font-weight: 600;
}