body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./home.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}
