.Text-Password {
  color: #000000;
  text-align: center;
  padding-bottom: 2rem;
}

.Text-Password h2 {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 10px;
}

.Text-Password p,
.text-x {
  color: #000000;
  font-size: 0.8rem;
  text-align: center;
}

.text-x {
  margin: 1rem 0;
}

/* CardLogin.css */

.card-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  z-index: 20;
}

.card-login-box {
  background-color: #fffffff5;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0 4px 20px #0000001a;
  padding: 3rem 2rem;
  width: 350px;
}

.card-login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.card-login-logo img {
  width: 212px;
}

.card-login-logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.card-login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-login-input {
  position: relative;
}

.card-login-input input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #ffffff00;
  border: 1px solid #000000;
  outline: none;
}

.card-login-input i {
  position: absolute;
  left: 0.75rem;
  top: 0.6rem;
  color: #ffffff00;
}

.card-login-forgot {
  text-align: right;
  font-size: 0.875rem;
  color: #000000;
  text-decoration: none;
}

.card-login-forgot:hover {
  text-decoration: underline;
  color: #16a34a;
}

.card-login-button {
  background-color: #16a34a;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease;
}

.card-login-button:hover {
  background-color: #22b458;
}

.card-login-google {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease;
}

.card-login-google:hover {
  background-color: #1f2937f5;
}

.card-login-google img {
  width: 1.25rem;
  height: 1.25rem;
}

.card-login-avatar {
  margin-left: auto;
  background-color: #facc15;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.card-login-register {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.card-login-register a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.card-login-register a:hover {
  text-decoration: underline;
  color: #16a34a;
}
